#sidebar {
    width: 30%;
}

#main-app {
    width: 70%;
}

#keybar, #header {
    background: $panel;
    color: $text;
    padding: 0 3;
}

#header {
    text-align: center;
}

.box {
    border: round $primary;
}

.box:focus {
    border: round $accent;
    background: $surface;
}

.list-item {
    height: 1;
    width: 100%;
}

.note-date {
    width: 40%;
    text-align: right;
    color: gray;
}

.note-title {
    width: 60%;
}
