#sidebar {
    width: 30%;
        #new-note-btn {
            width: 100%;
        }
}

#main-app {
    width: 70%;
}

#keybar, #header {
    height: 1;
    background: $panel;
    color: $text;
    padding: 0 1;
}

#header {
    text-align: center;
}


